body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 23px; FONT-FAMILY: "ËÎÌו"
}
*:link {
	TEXT-DECORATION: none;
	color: #000000;
}
*:visited {
	TEXT-DECORATION: none;
	color: #000000;
}
*:active {
	TEXT-DECORATION: none;
	color: #000000;
}
*:hover {
	COLOR: red;
}
