<!--
body {
	FONT-SIZE: 9pt;
	margin-left:0px;
	margin-top:0px;
}
td {
	font-size: 9pt;	line-height:150%;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #333333;
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	background-color:#9ce0fd;
	border: 1px solid #FFFFFF;
}

.prog_border {
  height: 15px;		/*高度*/
  width: 255px;		/*宽度*/
  background: #9ce0fd;		/*背景颜色*/
  border: 1px solid #FFFFFF;	/*边框样式*/
  margin: 0;
  padding: 0;
  display:none; 		/*不显示*/
  position:relative;
  left:25px;
  float:left;			/*居左对齐*/
}
-->
<meta http-equiv="Content-Type" content="text/html; charset=GBK">