<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>11.14</display-name>
  <welcome-file-list>
    <welcome-file>QueryProduct</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.mr.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryFactory</display-name>
    <servlet-name>QueryFactory</servlet-name>
    <servlet-class>com.mr.servlet.QueryFactory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFactory</servlet-name>
    <url-pattern>/QueryFactory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryProduct</display-name>
    <servlet-name>QueryProduct</servlet-name>
    <servlet-class>com.mr.servlet.QueryProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryProduct</servlet-name>
    <url-pattern>/QueryProduct</url-pattern>
  </servlet-mapping>
</web-app>