<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!--定义控制器转发视图类 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- 为User对象属性赋值 -->
	<bean id="user" class="com.mr.user.User">
		<property name="name">
			<value>mr</value>
		</property>
		<property name="password">
			<value>111</value>
		</property>
	</bean>
	<!-- 让bean Manger自动装配User并映射do -->
	<bean name="/login.do" autowire="byName" id="manger" class="com.mr.main.Manger"/>
</beans>	